@model EmployeeManagement.Models.Department_Tbl

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department_Tbl</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPersonals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPersonals)
        </dd>
    </dl>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Employee)
    </dt>
    <dd class="col-sm-10">
        <table class="table">
            <tr>
                <th>Employee name</th>
                <th>rank</th>
            </tr>
            @foreach (var item in Model.Employee)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rank)
                    </td>
                </tr>
            }
        </table>
    </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
